<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DetailRegister</title>
</head>
<body>
<form  action="/DetailUser" method="post">
<h3>Ваше имя</h3>
    <input type="text" name="firstName" size="30" maxlength="30" placeholder="Ваше имя">
    <h3>Ваша фамилия</h3>
    <input type="text" name="lastName" size="30" maxlength="30" placeholder="Ваша фамилия">
    <h3>Ваша дата рождения</h3>
    <input type="date" name="birthDate" size="30" >
    <h3>Ваш пол</h3>
    <select name="sex">
        <option value="Male">Мужской</option>
        <option value="Female">Женский</option>
    </select><br>
    <h3>Семейный статус</h3>
    <select name="maritalStatus">
        <option value="single">холост/незамужем</option>
        <option value="married">Женат/замужем</option>
        <option value="hasChildren">Есть дети</option>
    </select><br>
    <button type="submit">Зарегистрироваться</button><br>
</form>
</body>
</html>